<%= link_to 'Back', "/" %>

<p>
  <b>Title:</b>
  <%= @question.title %>
</p>
<p>
  <b>Question:</b>
  <%= @question.text %>
</p>

<%= form_for [@question, @question.answers.build] do |a|%>
  <%= a.text_area :text %>
  <%= a.submit :value => 'Post your Answer' %>
<% end %>
