<div style="border-bottom:1px solid #666; height:34px; clear:both" >
  <h2><%= @question.title %></h2>
</div>

<p>
  <%= @question.text %>
</p>


<% if @question.is_edditable %>
<p>
    <%= link_to 'Edit Question', edit_question_path, :class => 'edit'  %>
</p>
<% end %>

<p>asked by <%= @question.user.name%></p>

<br/>

<div style="border-bottom:1px solid #666; height:34px; clear:both" >
  <h2> Answers </h2>
</div>

<% @question.answers.each do |a| %>
<div style="border-bottom:1px solid #aaa; height:34px; clear:both" >
  <p> <%= a.text %> </p>
  <p>answered by <%= a.user.name%></p>  
</div>
<% end %>

<br/>

<%= form_for [@question, @question.answers.build] do |a|%>
  <h2>Your Answer </h2>
  <%= a.text_area :text %>
  <%= a.submit :value => 'Post your Answer' %>
<% end %>

<%= link_to 'Back', "/" %>
