<div id="question" >
  <div class="details" data-id="<%= @question.id %>">
    <h2><%= @question.title %></h2>
    <p><%= @question.text %></p>

    <div class="question_menu">
    <% if @question.is_edditable %>
      <%= link_to 'Edit Question', edit_question_path, :class => 'edit'  %>
    <% end %>
    </div>

    <div class="owner">
      <span>asked by <%= @question.user.name%></span>
    </div>
  </div>
  
  <% if @question.answers.any? %>
  <div id="answers">
    <h3>Answers</h3>
    <% @question.answers.each do |a| %>
    <div class="answer" >
		<% if @question.is_edditable
			selected = @question.answer_id == a.id
		%>
			<%= check_box_tag 'accept', a.id, selected, :class=> "accept"%>  
      <% end %>		
      <p><%= a.text %> </p>
      <p>answered by <%= a.user.name%></p> 
    </div>
    <% end %>
  </div>
  <% end %>
  
  <div id="answer_form">
    <%= form_for [@question, @question.answers.build] do |a|%>
      <%= a.text_area :text %>
      <div class="form_buttons">
        <%= a.submit :value => 'Post your Answer' %>
      </div>
    <% end %>  
  </div>

  <%= link_to 'Back', "/" %>
</div>
