<!DOCTYPE html>
<html>
<head>
  <title>LabOverflow</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= javascript_include_tag "prototype" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="structure">
    <div id="flash">
      <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div id="alert"><%= flash[:alert] %></div>
      <% end %>
    </div>
    <div id="header">
      <a href="/"><h1>LabOverflow</h1></a>
    </div>
    <div id="menu">
      <%= render :partial => 'shared/user_menu' %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>